<!-- <table class="etudiant-table">
    <thead>
        <tr>
            <th class="table-header">ID</th>
            <th class="table-header">Nom</th>
            <th class="table-header">Prenom</th>
            <th class="table-header">Numero Tel</th>
            <th class="table-header">Groupe</th>
            <th class="table-header">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let etudiant of etudiants">
            <td>{{ etudiant.idEtud }}</td>
            <td>{{ etudiant.nom }}</td>
            <td>{{ etudiant.prenom }}</td>
            <td>{{ etudiant.numeroTel }}</td>
            <td>{{ etudiant.nomGroupe }}</td>
            <td>
                <button class="action-button edit-button" type="button" (click)="editEtudiant(etudiant)">Edit</button>
            </td>
        </tr>
    </tbody>
</table> 


 -->
 
  